
.div_head_sector8 {
    display: grid;
    width: 100%;
    height: 494.98px;
    grid-auto-rows: 123.74px;
    grid-auto-columns: 186.35px;
    padding-top: 3%;
    padding-bottom: 41.8%;
 
}
.div_head_head_sector8{
    background-color: #121212;
    margin-top: 31.5%;
    padding-top: 44px;
}
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.h2_sector8{
    
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    font-family: 'ubuntu', sans-serif;
    font-weight: 500;
    color: #c3c8d3;
    align-items: center;
}

.div_head_head_sector8 .div_head_sector8 .a_img_sector8 img{
  width: 100%;
  height: 100%;
  transition: .5s ;
  object-fit: cover;
}
.div_head_head_sector8 .div_head_sector8 .a_img_sector8:hover img{
    transform: scale(1.1);
    
}

.a_img_sector8{
    overflow: hidden;
}

.a_img_sector8:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.a_img_sector8:nth-child(2){   
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.a_img_sector8:nth-child(3), :nth-child(8), :nth-child(11), :nth-child(14), :nth-child(17) img{
    width:  372.7px ;
    height:  247.49px ;

}
.a_img_sector8:nth-child(3) {

    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.a_img_sector8:nth-child(4){

    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
.a_img_sector8:nth-child(5){

    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.a_img_sector8:nth-child(6){

    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}
.a_sector8:nth-child(7){
 
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}
.a_img_sector8:nth-child(8){

    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
}
.a_img_sector8:nth-child(9){

    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}
.a_img_sector8:nth-child(10){

    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
}
.a_img_sector8:nth-child(11){

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}
.a_img_sector8:nth-child(12){

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.a_img_sector8:nth-child(13){

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
.a_img_sector8:nth-child(14){

    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
}
.a_img_sector8:nth-child(15){

    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}
.a_img_sector8:nth-child(16){

    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
}
.a_img_sector8:nth-child(17){

    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
}
.div_head_head_sector8 .pop-up{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);}
.div_head_head_sector8 .pop-up img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 80%;
    object-fit: cover;
    border-radius: 8px;
}
.div_head_head_sector8 .pop-up span{
    z-index: 10;
    position: fixed;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
